.notfound {
    margin-top: 6rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(230,230,230,1.0);
    color:#4D4D4D;
    &__img{
        width: 25%;
        height:20%;
    }
    &__heading {
        font-size: 6.2rem;
        text-align: center;
        opacity: 0.7;
        font-weight: 400;
        margin-bottom: 4rem;
    }

    &__paragraph {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 4rem;
        padding: 0 5%;
    }

    &__button {
      
        padding: 0.2em 2em;
        border:0.1em solid rgba(59,130,246,0.5);
        border-radius:5%;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:300;
        color:rgba(77,77,77,1.0);
        transition: all 0.2s;
        background-color: rgba(241,198,68,0.8);

        &:hover {
            background-color: rgba(77,77,77,1.0);
            color:#fff;
        }
//          display:inline-block;
//  padding:0.35em 1.2em;
//  border:0.1em solid #FFFFFF;
//  margin:0 0.3em 0.3em 0;
//  border-radius:0.12em;
//  box-sizing: border-box;
//  text-decoration:none;
//  font-family:'Roboto',sans-serif;
//  font-weight:300;
//  color:#FFFFFF;
//  text-align:center;
//  transition: all 0.2s;
    }
}



